body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.vision{
    height: 220px;
    background-color: #008840;
}
.vision-img{
     background-size: cover;
    height: 60vh;
    width: 100%;
}
.main{
    background: url("img/products/farm.gif")no-repeat center center;
       /* background-color: transparent; */
    background-size: cover;
    height: 80vh;
  }
  .wrap{
      height: 50px;
      width: 500px;
      background-color:#00C851;
      color: white;
  }
  .pagination a{
    color: #00C851;
    font-weight: bold;
  }
  .pagination a:hover{
    color: #000000;;
  }